<!DOCTYPE html>
<html>
<head>
  <title>Island02</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
</head>
<body>
<div class='nav'>
  <%= render 'navbar/navbar' %>
</div>
<%= yield %>

</body>
</html>
